#teams {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#teams > * > :first-child {
  margin-bottom: 2rem;
}


#teams > * > * {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
}

#teams > * > * > * > * {
  margin: 0 10px 0 10px;
}

.teamPageCard {
  display: inline-block;
  text-align: center;
  width: 250px;
  height: fit-content;
  background: linear-gradient(0.25turn, #39484e, #24424c, #313952);
  padding: 1.5%;
  border-radius: 10px;
  color-scheme: dark;
  
}

.teamPageCardImg {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.teamPageCardName {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 25px;
}

.teamPageCardDesc {
  font-family: sans-serif;
  font-size: 15px;
}

.teamPageCardLinks {
  display: inline-flex;
  gap: 10px;
  width: fit-content;
  margin-top: 20px;
}

.teamPageCardLink1 {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-image: url('./images/linkedin.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.teamPageCardLink2 {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-image: url('./images/world.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 900px) {
  .teamPageCardName {
    font-size: 18px;
  }

  .teamPageCardDesc {
    font-size: 12px;
  }

  .teamPageCardImg {
    height: 150px;
    width: 150px;
  }
}
