.teamPageCard {
  display: inline-block;
  text-align: center;
  width: 250px;
  height: fit-content;
}

.teamPageCardImg {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  object-fit: cover;
}

.teamPageCardName {
  font-weight: 600;
  font-family: sans-serif;
  font-size: 25px;
}

.teamPageCardDesc {
  font-family: sans-serif;
  font-size: 15px;
}

.teamPageCardLinks {
  display: inline-flex;
  gap: 10px;
  width: fit-content;
  margin-top: 20px;
}

.teamPageCardLink1 {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-image: url('./images/linkedin.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.teamPageCardLink2 {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-image: url('./images/world.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

/* here for the different card styles */

.teamPageCardStyle1 {
  /*background: linear-gradient(0.25turn, #c5dfea, #a9d0eb, #a2b5f3);*/
  color: black;
}

.teamPageCardStyle2 {
  /*background-color: #e0e0e0;*/
  color: white;
}




/*
.teamPageCardStyle1 .teamPageCardLink1 {
  background-color: white;
}
.teamPageCardStyle1 .teamPageCardLink1:hover {
  background-color: #e0e0e0;
}
.teamPageCardStyle1 .teamPageCardLink2 {
  background-color: white;
}
.teamPageCardStyle1 .teamPageCardLink2:hover {
  background-color: #e0e0e0;
}

.teamPageCardStyle2 .teamPageCardLink1 {
  background-color: black;
}
.teamPageCardStyle2 .teamPageCardLink1:hover {
  background-color: #606060;
}
.teamPageCardStyle2 .teamPageCardLink2 {
  background-color: black;
}
.teamPageCardStyle2 .teamPageCardLink2:hover {
  background-color: #606060;
}
*/

@media only screen and (max-width: 900px) {
  .teamPageCardName {
    font-size: 18px;
  }

  .teamPageCardDesc {
    font-size: 12px;
  }

  .teamPageCardImg {
    height: 150px;
    width: 150px;
  }
}
